<div class="main-pane">
  <h1 class="text-center">2mn annonces</h1>
  <div class="part-grid">
    <div class="part" (click)="onNavigate('part-one')">
      <h1>Annonces</h1>
      <div class="w3-display-container w3-opacity">
        <img src ="https://2mn.info/img/logo-el-boncoin-m-t.png" alt="logo 2mn annonces" width="100%">
        <div class="w3-display-middle w3-large w3-orange w3-opacity"> </div>
      </div>
    </div>
    <div class="part" (click)="onNavigate('part-three')">
      <h1>Partie 3</h1>
    </div>
    <div class="part" (click)="onNavigate('part-four')">
      <h1>Partie 4</h1>
    </div>
  </div>
</div>
